<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="22" height="40"><img src="<{$xoops_imageurl}>images/blocks_01.gif" alt="" width="22" height="40" /></td>
<td width="100%" class="blockmidt"><div class="blockTitle"><{$block.title}></div></td>
<td width="15" height="40"><img src="<{$xoops_imageurl}>images/blocks_03.gif" alt="" width="15" height="40" /></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="11" class="blockmidl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
<td style="background-color: #898989;">
<div class="blockContent"><{$block.content}></div>
</td>
<td width="15" class="blockmidr"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="22" height="10"><img src="<{$xoops_imageurl}>images/blocks_07.gif" alt="" width="22" height="10" /></td>
<td width="100%" class="blockmidb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="10" /></td>
<td width="15" height="10"><img src="<{$xoops_imageurl}>images/blocks_09.gif" alt="" width="15" height="10" /></td>
</tr>
</table>
</td>
</tr>
</table>