<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="20" height="38"><img src="<{$xoops_imageurl}>images/cblock_03.gif" alt="" width="20" height="38" /></td>
        <td width="100%" class="blockcent"><div align="center" class="cblockTitle"><{$block.title}></div></td>
        <td width="22" height="38"><img src="<{$xoops_imageurl}>images/cblock_05.gif" alt="" width="22" height="38" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10" class="blockcentl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
          <td class="blockbak">
<div class="blockContent"><{$block.content}></div>
</td>
          <td width="11" class="blockcentr"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="10" height="20"><img src="<{$xoops_imageurl}>images/cblock_10.gif" alt="" width="10" height="20" /></td>
          <td width="100%" class="blockcentb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
          <td width="11" height="20"><img src="<{$xoops_imageurl}>images/cblock_12.gif" alt="" width="11" height="20" /></td>
        </tr>
      </table>
  </td>
  </tr>
</table>