/* ------ Left column / Right column content------ */
#xo-canvas-leftcolumn .xo-block, #xo-canvas-rightcolumn .xo-block {
	margin-bottom:	10px;
	padding-right: 5px;
}

#xo-canvas-leftcolumn .xo-blocktitle {
	text-align: left;
	background: url(../img/blockh_bg.jpg) no-repeat;
	padding-bottom: 20px;
  width: 180px;
}
#xo-canvas-leftcolumn .xo-blocktitle h3 {
	color: #37a6de;
	font-weight: 700;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
}

#xo-canvas-rightcolumn .xo-blocktitle {
	text-align: left;
	background: url(../img/blockh_bg.jpg) no-repeat;
	padding-bottom: 20px;
  width: 180px;
}
#xo-canvas-rightcolumn .xo-blocktitle h3 {
	color: #37a6de;
	font-weight: 700;
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;
}

#xo-canvas-leftcolumn .xo-blockcontent, #xo-canvas-rightcolumn .xo-blockcontent {
	padding: 10px;
	margin-right: -5px;
}

#xo-canvas-leftcolumn .xo-block.system .xo-blockcontent {
  font-size: 11px; padding-left: 5px;
}

#xo-canvas-leftcolumn th, #xo-canvas-rightcolumn th {
	color: #EE7733;
	font-size: 90%;
}

/* ------ Center column content ------ */
#xo-page th {
	color: #37a6de;
}

#xo-page .xo-block {
	margin-bottom: 5px;
}

#xo-page .xo-blocktitle {
	padding: .2em;
	margin: 0 .5em;
	text-align: center;
}

#xo-page .xo-blocktitle h3 {
	color: #37a6de;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

#xo-page .xo-blockcontent {
	padding: .5em;
	background-color: #F2F2F2;
	border: 1px solid #37a6de;
}
