<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_13.gif" width="85" height="22" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_14.gif); background-repeat: repeat-x; width: 100%;" height="22">
		</td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_15.gif" width="87" height="22" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_17.gif" width="26" height="20" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_18.gif); background-repeat: repeat-x; width: 100%;" height="20"><div class="blockTitle"><{$block.title}></div></td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_19.gif" width="24" height="20" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_20.gif" width="26" height="7" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_21.gif); background-repeat: repeat-x; width: 100%;" height="7"></td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_22.gif" width="24" height="7" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_23.gif); background-repeat: repeat-y; height: 100%;" height="26"></td>
	<td>
<div class="blockContent"><{$block.content}></div>
	</td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_25.gif); background-repeat: repeat-y; height: 100%;" height="26"></td>

	</tr>
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfection_26.gif" width="26" height="23" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfection_27.gif); background-repeat: repeat-x; width: 100%;" height="7"></td>

		<td>
			<img src="<{$xoops_imageurl}>images/perfection_28.gif" width="24" height="23" alt="" /></td>
	</tr>
</table>