
/* Start Main Menu */
#mainmenu {font-size: 11px; padding-left: 5px;}
#mainmenu a {display: block; margin: 0; padding: 2px; color: #666;}
#mainmenu a:hover {color: #000;}
#mainmenu a.menuTop {padding-left: 5px;}
#mainmenu a.menuMain {padding-left: 5px;}
#mainmenu a.menuSub {padding-left: 5px;}
#mainmenu a.menuSub:hover {}
/* End Main Menu */

/* Start User Menu */
#usermenu {font-size: 11px; padding-left: 5px;}
#usermenu a {display: block; margin: 0; padding: 2px; color: #666;}
#usermenu a:hover {color: #000;}
#usermenu a.menuTop {}
#usermenu a.highlight {color: #59BBE6;}
/* End User Menu */

/* tables and cells */
table {	width: 100%;}
table td {padding: 0; border-width: 0;	vertical-align: top;}
th {color: #37a6de; padding : 2px; vertical-align : middle;}
.outer {background-color: #f2f2f2;}
.head {background-color: #f2f2f2; color:inherit; padding: 5px; font-weight: bold;}
.even {background-color: #e8e6e2; color:inherit; padding: 5px;}
.odd {background-color: #E9E9E9; color:inherit; padding: 5px;}
.foot {background-color: #f5e9cd; color:inherit; padding: 5px; font-weight: bold;}
tr.even td {background-color: #e8e6e2; color:inherit; padding: 5px;}
tr.odd td {background-color: #E9E9E9; color:inherit; padding: 5px;}

/* core messages */
.errorMsg { background-color: #FFCCCC;  color:inherit; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;font-weight: bold; padding: 10px;}
.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #aaa; border-bottom: 1px solid #aaa;font-weight: bold; padding: 10px;}
.resultMsg { background-color : #bbb; color: #333; text-align: center; border-top: 1px solid #ccc; border-left: 1px solid #ccc; font-weight: bold; border-right: 1px solid #666; border-bottom: 1px solid #666; padding: 10px;}

/* codes and quotes */
.xoopsCode { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0 6px 6px 6px; max-height: 200px; overflow: auto;}
.xoopsQuote { background-color: #fff; color:inherit; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; font-style:italic; padding: 0 6px 6px 6px;}

/* articles */
.item {border: 1px solid #ccc;}
.itemHead {padding-left: 3px; color: #639ACE; border-bottom: 1px solid #bbb; font-size: .8em;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef; color:inherit;}
.itemTitle a {font-size: 1.1em; font-weight: bold; font-variant: small-caps; color: #fff; background-color: transparent;}
.itemPoster {font-size: .9em; font-style:italic;}
.itemPostDate {font-size: .9em; font-style:italic;}
.itemStats {font-size: .9em; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 1.3em; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef; color:inherit;}
.itemAdminLink {font-size: .9em;}
.itemPermaLink {font-size: .9em;}

/* forums */
.comTitle { font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: .7em; color: #639ACE; font-weight:bold; border: 1px solid #ccc; background-color: #fff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; background-color: inherit; color: #639ACE; font-weight:bold; font-size: .8em;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: .8em; font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: .8em}
.comDateCaption {font-weight: bold; font-style: normal; font-size: .8em}
.signature { font-size:.8em; font-style:italic;}

