@import url(layout.css);
@import url(blocks.css);
@import url(content.css);

/* ------ General styles ------ */

html, body {
	color: #000;
	background: #CCC;
	margin: 0;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

#xo-canvas {
	background: inherit;
	background-repeat: no-repeat;
	background-position: top right;
	float: right;
}

table {
	width: 100%;
}

table td {
	padding: 0;
	border-width: 0;
	vertical-align: top;
}

img {
	border: 0;
}

a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #000;
}

h1 {font-size: 1em; }
h2 {font-size: 1em;}
h3 {font-size: 1em;}
h4 {font-size: 1em;}
h5 {font-size: .9em;}
h6 {font-size: .8em;}

/* ------ Header rules ------ */

#xo-header {
	clear: both;
	height: 158px;
	position: relative;
	background: url(img/header_bg.jpg) repeat-x;
}

#xo-headerlogo {
	float: left;
}
  
#xo-headerbanner {
	position: relative;
	top: 45px;
	float: right;
	width: 100%;
	padding-top: 0px;
	background: url(img/nav_bg.jpg) repeat-x;
}

/* ------ Header top menu navigation rules ------ */

#xo-globalnav {
	position: relative;
	clear: both;
	padding-left: 11px;
	padding-bottom: 35px;
  text-align: center;
  padding-top:15px;
}

#xo-globalnav a {
	text-decoration: none;
	text-align: center;
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	background-color: transparent;
	color: #CFDB77;
	font-size: 11px;

}

#xo-globalnav a:hover {
	color: #fff;
}

#controlbar {
	color: #EE7733;
	font-weight: bold;
	padding-bottom: 3px;
	border-bottom: 1px dashed #8DBDE1;
	
}

/* ---------- Column left/right rules ---------- */

#xo-canvas-rightcolumn {}
#xo-canvas-rightcolumn a {}
#xo-canvas-rightcolumn a:hover {}

#xo-canvas-leftcolumn {}
#xo-canvas-leftcolumn a {padding-left: 5px;}
#xo-canvas-leftcolumn a:hover {}

/* ------ Main content ------ */

#xo-canvas-content {	
	line-height: 1.3em;

}

/* lists */
#xo-canvas-content ul {margin: 5px; padding: 2px; list-style: disc; text-align: left;}
#xo-canvas-content li {margin-left: 10px; color: #000; background-color: inherit; line-height: 1.3em; list-style: disc;}

#xo-page {
	padding: 0 .5em;
}

/* ---------- Module display rules ---------- */

#xo-content {
	padding: 15px 1%;
}

/* ---------- Redirect ------------ */
#xo-redirect {
	margin: 40px 0;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	background-color: #F2F2F2;
	color: #222;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border: 2px solid #DDDDFF;
}
/* ---------- Site close ------------ */
#xo-siteclose-login {
	width: 270px;
	margin-left: auto;
	margin-right: auto; 	
	border:1px solid #DDDDFF;	
	margin-top: 40px;
	margin-bottom: 20px;
}
#xo-siteclose-login h2 {
	background-color: #f2f2f2;
	font-weight: bold;
	font-size: 1em; 
	color: white;
	padding: 2px;	
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;	
}
#xo-siteclose-login form {
	padding: 0px;
	margin: 0px;	
}
#xo-siteclose-login div{
	padding: 6px;
}
#xo-siteclose-login span.left {
	float: left;
	padding-bottom: 3px;
}
#xo-siteclose-login span.right {
	float: right;
	padding-right: 3px;
	padding-bottom: 3px;
}
#xo-siteclose-login div.button {
	text-align: right;
	clear: both;	
	padding-right: 0px;
}
/* ---------- Footer rules ---------- */
.spacer {margin: 5px auto;}
#xo-footer {
	padding-top: 10px;
	text-align: center;
	font-size: 70%;
	color: #666;
	margin-top: 5px;
	background-color: transparent;
	background: url(img/footer_bg.jpg) repeat-x;
	width: 100%;
	height: 118px;
}

#xo-footer a {
	color: #333;
}

#xo-footer a:hover {
}

/* ----------  mode debug  ---------- */

#xo-logger-output {
	font-size:			80%;
}
