
html, body {font: Verdana; margin: 0; padding: 0; font-size: 10;}
img {border: 0;}
h1, h2, h3, h4, h5, h6 {}
a, a:visited {}
a:hover {}

.clear {width: 100%; height: 1px; margin-left: auto; margin-right: auto; clear: both;}

#header{}
.banner

#nav{}
/* Wraps the 3 Columns */
#wrapper{width: 100%;position:relative;}

/* L/R Blocks & Content */
#leftcolumn {float:left;width:20%}
.leftblocks {float:left; width:100%;}
#rightcolumn {float:right;width:20%}
.rightblocks {float:right; width:100%;}

/*Center Blocks*/
#centercolumn{width:60%;position:relative;float:left;}
#topblocks {position: relative; width:100%}
.topleft {width: 33%;float:left;}
.topcenter {	clear:both;margin-left:	1%;margin-right:1%;}
.topright {width: 33%; float:right;}
#bottomblocks {position: relative; width:100%}
.botleft {width: 33%;float:left;}
.botcenter {width: 33%;float:left;}
.botright {width: 33%; float:right;}