<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td><img src="<{$xoops_imageurl}>images/tranquility_15.jpg" width="12" height="43" alt=""/></td>
<td class="blockT" width="100%"><div class="blockTitle" style="padding-top:15px;"><{$block.title}></div></td>
<td><img src="<{$xoops_imageurl}>images/tranquility_17.jpg" width="12" height="43" alt=""/></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top:-15px;">
<tr>
<td class="lrep" height="26"></td>
<td><div class="blockContent"><{$block.content}></div></td>
<td class="rrep" height="26"></td>
</tr>
<tr>
<td><img src="<{$xoops_imageurl}>images/tranquility_24.jpg" width="12" height="16" alt="" /></td>
<td class="brep" height="12"></td>
<td><img src="<{$xoops_imageurl}>images/tranquility_27.jpg" width="12" height="16" alt="" /></td>
</tr>
</table>