
html, body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: justify; margin: 0px; padding: 0px; direction: ltr; background: #393838 url(img/bg.png) repeat-x fixed;}
img {border: 0;}
h1, h2, h3, h4, h5, h6 {}
a, a:visited, a:hover {color: #fff;font-weight:700;text-decoration: none;}

.clear {width: 100%; height: 1px; margin-left: auto; margin-right: auto; clear: both;}

#header {background: url(img/header_bg.png) repeat-x; height: 145px; position: relative; top: 10px;}
.banner

#nav{}
/* Wraps the 3 Columns */
#wrapper {position: relative; width: 900px; margin-left:auto; margin-right:auto; background: url(img/content_bg.png) repeat-y;} /* This tag contains all blocks and main content. */
#content {display: table; width: 100%;}

/* L/R Blocks & Content */
#leftcolumn {position: absolute; top: 0px; left: 0px; width: 20%; padding-left:20px; padding-right:20px;}
.leftblocks {float:left; width:100%;}
#rightcolumn {position: absolute; top: 0px; right: 0px; width: 20%; padding-left:20px; padding-right:20px;}
.rightblocks {float:right; width:100%;}

/*Center Blocks*/
#centercolumn{display: table; width: 50%; margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
#topblocks {position: relative; width:100%}
.topleft {width: 49%;float:left;}
.topcenter {width: 100%;float:left;}
.topright {width: 49%; float:right;}
#bottomblocks {position: relative; width:100%}
.botleft {width: 49%;float:left;}
.botcenter {width: 100%;float:left;}
.botright {width: 49%; float:right;}

div.block_title { color: #fff; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: 700;padding-top:5px;}
div.block_content { color: #fff; font-family: Verdana, Arial, Helvetica, sans-serif;border: 1px dashed #adc1a8; padding:3px;}
#usermenu: {display:block;}