<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td height="39"><img src="<{$xoops_imageurl}>images/blocks_03.gif" alt="" width="23" height="39" /></td>
<td width="100%" class="blockmidt"><div class="blockTitle"><{$block.title}></div></td>
<td width="14" height="39"><img src="<{$xoops_imageurl}>images/blocks_05.gif" alt="" width="14" height="39" /></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="11" class="blockmidl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
<td class="blockbak">
<div class="blockContent"><{$block.content}></div>
</td>
<td width="14" class="blockmidr"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="11" height="19"><img src="<{$xoops_imageurl}>images/blocks_10.gif" alt="" width="11" height="19" /></td>
<td width="100%" class="blockmidb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="10" /></td>
<td width="14" height="19"><img src="<{$xoops_imageurl}>images/blocks_12.gif" alt="" width="14" height="19" /></td>
</tr>
</table>
</td>
</tr>
</table>