<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="22" height="36"><img src="<{$xoops_imageurl}>images/blocksc_03.gif" alt="" width="22" height="36" /></td>
        <td width="100%" class="blockcent"><div align="center" class="cblockTitle"><{$block.title}></div></td>
        <td width="26" height="36"><img src="<{$xoops_imageurl}>images/blocksc_05.gif" alt="" width="26" height="36" /></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="11" class="blockcentl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
          <td class="blockbak">
<div class="blockContent"><{$block.content}></div>
</td>
          <td width="13" class="blockcentr"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="11" height="17"><img src="<{$xoops_imageurl}>images/blocksc_10.gif" alt="" width="11" height="17" /></td>
          <td width="100%" class="blockcentb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" /></td>
          <td width="13" height="17"><img src="<{$xoops_imageurl}>images/blocksc_12.gif" alt="" width="13" height="17" /></td>
        </tr>
      </table>
  </td>
  </tr>
</table>