body {
	font-family: Verdana;	
	color: #bbb;
	background-color: #3b3b3b; 
	margin: 0;	
	padding: 0;	
	font-size: 10px;
}

hr {
	color: #BBB; 
	height:1px;
}

a {
  color: #f3ac04; 
	text-decoration: none; 
	font-weight: bold; 
	background-color: transparent;
}
	
a:hover {
	color: #999;
}

#mainmenu a.highlight, #usermenu a.highlight {
background-color: transparent;
color: red;
display: block;
}

#usermenu a, #mainmenu a {
background-color: transparent;
color: #f3ac04; 
display: block;
padding-bottom: 3px;
}
#usermenu a:hover, #mainmenu a:hover {
background-color: transparent;
color: #999;
display: block;
padding-bottom: 3px;
}
h1 {font-size: 1.1em;}
h2 {}
h3 {}
h4 {}
h5 {}

img {
border: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style: square inside;
	text-align: left;
	color: #999;
	line-height: 18px;
}
li {font-family: Verdana;
	color: #999;
}
li a{font-family: Verdana;
	font-size: 9px;
}


textarea, select, input  {
	font-family: Verdana;
	background-color: #3b3b3b;
	color: #bbb;
	font-size: 9px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #999;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #999;
	margin-top: 1px;
}

textarea {
	width: 100%;
	overflow: auto;
}

table {
	width: 100%;
	
}
TR, TD {
	font-family: Verdana, Tahoma, Arial;
	font-size: 10px;
	color: #bbb;
	padding: 0px; vertical-align: top;
}

.head_table {
	background-color: #fff;
	width: 100%;
	height: 120px;
	text-align:center;
}

.nav_table {
	background-color: #fff;
	width: 100%;
	height: 20px;
}
.nav_links {
	padding-top: 5px;
	text-align: center;
	color: #bbb;
	text-transform: uppercase;
}
.nav_links a {
	padding-right: 25px;
	padding-top: 5px;
	text-align: center;
  color: #f3ac04; 
	text-transform: uppercase;
}
.nav_links a:hover {
	padding-right: 25px;
	padding-top: 10px;
	text-align: center;
	color: #999;
	text-transform: uppercase;
}



/*Left Block Loop*/
td#leftcolumn {
	width: 180px;
	font-size:9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#leftcolumn div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#leftcolumn div.blockContent {
	width: 100%;
	color: #bbb;
	font-size: 11px;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*Right Block Loop*/
td#rightcolumn {
	width: 180px;
	font-size: 9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#rightcolumn div.blockTitle {
	width: 100%;
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 1px;
}
td#rightcolumn div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterC Block Loop*/
td#centerCcolumn {
	width: 100%;
	font-size:9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerCcolumn div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerCcolumn div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterCb Block Loop*/
td#centerCcolumnb {
	width: 100%;
	font-size:9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerCcolumnb div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerCcolumnb div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterRb Block Loop*/
td#centerRcolumnb {
	width: 50%;
	font-size:9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerRcolumnb div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerRcolumnb div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterLb Block Loop*/
td#centerLcolumnb {
	width: 50%;
	font-size:9px;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerLcolumnb div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerLcolumnb div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterL Block Loop*/
td#centerLcolumn {
	width: 50%;
	font-size:6pt;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerLcolumn div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerLcolumn div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

/*CenterR Block Loop*/
td#centerRcolumn {
	width: 50%;
	font-size:6pt;
	background-color: transparent;
	padding-right: 5px;
	color: #999;
}
td#centerRcolumn div.blockTitle {
	font-family: verdana, arial;
	font-size: 10px;
	color: #999;
	text-align: center;
	font-weight: bold;
	padding-right: 1px;
	padding-top: 2px;
}
td#centerRcolumn div.blockContent {
	width: 100%;
	color: #bbb;
	padding-top: 2px;
	padding-bottom: 4px;
	font-size: 11px;
}

#footer {
	margin-top: 6px;
}

.odd {
font-size: 12px;
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 1px solid #3b3b3b;
}
.even {
font-size: 12px;
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 1px solid #3b3b3b;
}

tr.odd td {
font-size: 12px;
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 1px solid #3b3b3b;
}
tr.even td {
font-size: 12px;
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 1px solid #3b3b3b;
}

tr.head td {
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 0px solid #3b3b3b;
font-size: 12px;
}

.comText {
font-family: verdana, arial;
font-size: 13px;
}

.comUserStat {
font-family: verdana, arial;
font-size: 13px;
font-weight: 700;
}
.comUserRankText {
font-family: verdana, arial;
font-size: 14px;
font-weight: 700;
}
.xoopsCode {
overflow: auto;
border: 1px solid gray;
margin: 5px;
padding: 5px;
}

.xoopsQuote {
overflow: auto;
border: 1px solid gray;
margin: 5px;

}

td.head {
background-color: #3b3b3b;
border-left: 1px solid gray;
border-right: 1px solid #3b3b3b;
border-top: 1px solid gray;
border-bottom: 1px solid #3b3b3b;
}

tr.even td {
font-size: 10px;
}
tr.odd td {
font-size: 10px;
}