body { background-color:#105F96; color: black; margin: 0; padding: 0; }
a { color: #df7417; text-decoration: none; font-weight: bold; background: transparent; }
a:hover { color: #bbbbbb; }
a:active { color: #bbbbbb; }
div.small {background-color: #105F96 }
div#content { text-align: left; padding: 8px; color: #CCC; }
div.confirmMsg { 
	text-align: center; 
	font-weight: bold; 
	padding: 10px; 
	background: #105F96; 
}

div.errorMsg { text-align: center; font-weight: bold; padding: 10px; background: #105F96; }
div.resultMsg { color: #333333; text-align: center; border-top: 1px solid silver; border-left: 1px solid silver; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px; background: #CCCCCC }
div.xoopsCode, div.xoopsQuote { background: transparent; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px; overflow: auto; }

form { 
	margin: 0px 0px 0px 0px;
}

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }

img, .comUserRankImg { }
textarea, select, input { font-size: 10px; color: #bbbbbb; margin-bottom: 4px; vertical-align: middle; background: transparent; padding: 2px text}
#message, #hometext, #bodytext { text-align: left; }
textarea, input.formButton { 
  color: #bbbbbb;
  font-family: Arial, Hevlvetica, sans-serif;
  text-align: center;
  background-color: transparent;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #c8aa5d;
  width: auto;
  padding: 0px 5px;
  margin: 1px;
  vertical-align: middle;
}
textarea, select, input:hover { background: #105F96; color: #bbbbbb; }
li { margin-left: 2px; list-style: square inside; color: #bbbbbb }

/* Table defines for CSS style */
table { font: 11px Tahoma }
table td { padding: 0; border-width: 0; vertical-align: top; font: 11px Tahoma }

table#Main {
	width: 100%;
	position: center;

}

table#Main2 { width: 100%; margin-right: 4px; }

/*Center Columns*/
td#centerCcolumn { padding: 0px 3px 1px 3px }
td#centerCcolumn div.blockContent { padding: 3px; margin-right: 0px; margin-left: 0px; margin-bottom: 2px; color: #cccccc; }
td#centercolumn { padding-right: 8px; padding-left: 8px; padding-top: 5px; }

td#centerLcolumn div.blockContent { padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; color: #cccccc; }
td#centerLcolumn, td#centerRcolumn { width: 30%; padding: 0px 0px 0px 0px }
td#centerRcolumn div.blockContent { padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; color: #cccccc; }
td#centerRcolumn div.blockTitle, td#centerCcolumn div.blockTitle, td#centerLcolumn div.blockTitle { padding: 0px 0px 0px 0px; color:  #df7417; font-weight: bold; font-size: 11px; margin-top: 10px; }

/*left Columns*/
td#leftcolumn { width: 180px; padding-top: 10px; padding-left: 5px;}
td#leftcolumn div.blockContent { padding: 3px; color: #cccccc;}
td#leftcolumn div.blockTitle { padding: 10px 3px 5px 2px; color:  #df7417; font-weight: bold; font-size: 11px; }
/*/*login Boxes on Menu*/
td#loginboxes { color: #272727; width: 40%; text-align: left; vertical-align: middle; padding-left: 5px; font-weight: bold; font-size: 90%; white-space: nowrap; padding: 0% 0% 0% 0% }
/*Menu item Columns*/
td#mainmenu a, td#usermenu a { display: block; color: #bbbbbb; font-size: 11px; padding: 3px 5px; font-weight: normal; text-decoration: none; background-color: transparent; }
td#mainmenu a.highlight, td#usermenu a.highlight { display: block; color: #bbbbbb; font-size: 11px; padding: 3px 5px; font-weight: normal; text-decoration: none; background-color: transparent; }
td#mainmenu a.menuSub, td#usermenu a.menuSub {  display: block; color: #bbbbbb; font-size: 11px; padding: 3px 5px; font-weight: normal; text-decoration: none; background-color: transparent; }
td#mainmenu a.menuTop, td#usermenu a.menuMain { display: block; color: #bbbbbb; font-size: 11px; padding: 3px 5px; font-weight: normal; text-decoration: none; background-color: transparent; }
td#mainmenu a:hover, td#usermenu a:hover { display: block; color: #ffffff; font-size: 11px; padding: 3px 5px; font-weight: normal; text-decoration: none; background-color: transparent;}

/*right Columns*/
td#rightcolumn { width: 180px; padding-top: 10px; padding-left: 5px;}
td#rightcolumn div.blockContent { padding: 3px; color: #cccccc;}
td#rightcolumn div.blockTitle { padding: 10px 3px 5px 2px; color:  #df7417; font-weight: bold; font-size: 11px; }
#rightcolumn { border-right: 7px solid #105F96 ; }
td#search { width: 95%; text-align: right; vertical-align: middle; padding-right: 10px }

td#usermenu a.menuTop { }

th { color: #ffffff; padding: 2px; vertical-align: middle; font-family: Verdana, Arial, Helvetica, sans-serif }
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left }
ul.circle { list-style-type: disc; margin: 0px }
/**/
.comDate { font-weight: normal; font-style: italic; font-size: smaller }
.comDateCaption { font-weight: bold; font-style: normal }
.comText { padding: 2px }
.comTitle { font-weight: bold; margin-bottom: 2px }
.comUserName { }
.comUserRank, .comUserImg { margin: 2px }
.comUserRankText { font-size: 10px; font-weight: bold }
.comUserStat { font-size: 10px; color: #bbbbbb; font-weight: bold; border: 1px solid silver; margin: 2px; padding: 2px; background: transparent }
.comUserStatCaption { font-weight: normal }
.comUserStatus { margin-left: 2px; margin-top: 10px; color: #0053A6; font-weight: bold; font-size: 10px }

.html .NavMenu td { position: relative /* ie 5.0 fix */ }

/** define news  **/
.item { margin-bottom: 8px; }
.itemAdminLink, .itemPermaLink { font-size: 10px }
.itemBody { padding: 5px }
.itemHead { padding: 10px 3px 3px; color: #ffffff }
.itemInfo, .itemFoot { text-align: right; padding: 3px }
.itemStats, .itemPoster, .itemPostDate { font-size: 9px }
.itemText { margin-top: 0px; margin-bottom: 0px }
.itemText:first-letter { }
.itemTitle a { font-size: 11px; font-weight: bold; color: #ffffff }

.blockhead_c {
	background-image: url(images/blockhead_c.jpg);
	background-repeat: repeat-x;
	width: 99%;
	height: 35px;
}

table#header .headerstretch1 { width: 50%; height: 42px; background: url(images/header_02.gif) }
table#header .headerstretch2 { width: 50%; height: 42px; background: url(images/header_13.gif) }

table#header .headb1 { background: url(images/header_08.gif); }
table#header div.headb1 { margin-top: 15px; background: transparent; margin-right: 15px; color: #df7417; }
table#header .headb2 { background: url(images/header_09.gif); }
table#header div.headb2 { margin-top: 15px; background: transparent; color: #df7417; }
table#header .headb3 { background: url(images/header_10.gif); }
table#header div.headb3 { margin-top: 15px; background: transparent; color: #df7417; }
table#header .headb4 { background: url(images/header_11.gif); }
table#header div.headb4 { margin-top: 15px; margin-left: 8px; background: transparent; color: #df7417; }
.copyright { background-color: #015F96; font-size: 12px; }

.blockmidt { background: url(images/blocks_02.gif); }
.blockmidb { background: url(images/blocks_08.gif); }
.blockmidl { background: url(images/blocks_04.gif); }
.blockmidr { background: url(images/blocks_06.gif); }

table#centerc .blockcent { background: url(images/news_02.gif); }
table#centerc .blockcentt { background: url(images/news_04.gif); }
table#centerc .blockcentl { background: url(images/news_06.gif); }
table#centerc .blockcentb { background: url(images/news_08.gif); }
table#centerc .blockbak { background-color: #105F96;}
table#centerc .cblockTitle { background-color: #transparent; font-size: 12px; margin-top: 14px; font-weight: bold; color: #df7417; }
#footer { border-top: 1px solid #bbbbbb; }
p { font-size: 10px; font-family: Verdana; margin-top: 0px; margin-bottom: 0px }
.adminmenub { margin-bottom: 10px; }

#content div.comUserStat { color: #ffffff; }
#content div.comTitle { color: #bbbbbb; border-bottom: 1px solid #bbbbbb; }
#content div.comUserRankText { color: #bbbbbb; border-bottom: 1px solid #bbbbbb; border-left: 1px solid #bbbbbb; border-right: 1px solid #bbbbbb; border-top: 1px solid #bbbbbb; }