body {
	font-family: Verdana;	
	color: #bbb;
	margin: 0;	
	padding: 0;	
	font-size: 10px;
	background: url(images/subbliss_01.jpg) repeat-x;
	background-color: #202020;
}

hr {
	color: #BBB; 
	height:1px;
}

a {
	color: #fff; 
	text-decoration: none; 
	font-weight: bold; 
	background-color: transparent;
}
	
a:hover {
	color: #fff;
}
#Main {
background-color: transparent;
padding-left: 5px;
width: 766px;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}

ul {
	margin: 0px;
	padding: 0px;
	list-style: square inside;
	text-align: left;
	color: #777;
	line-height: 18px;
}
li {font-family: Verdana;
	color: #777;
}
li a{font-family: Verdana;
	font-size: 9px;
}


textarea, select, input  {
	font-family: Verdana;
	background-color: #202020;
	color: #fff;
	font-size: 12px;
	border-top: 1px solid #777;
	border-right: 1px solid #777;
	border-left: 1px solid #777;
	border-bottom: 1px solid #777;
	margin-top: 1px;
}

textarea {
	width: 100%;
	overflow: auto;
}


TR, TD {
	font-family: Verdana, Tahoma, Arial;
	font-size: 10px;
	color: #bbb;
	padding: 0px; vertical-align: top;
}

.head_table {
padding:0;
padding-bottom: 10px;
	padding-top: 15px;

}

.nav_table {
	width: 100%;
}
.nav_links {
	text-align: center;
	width: 100%;
	padding-top: 55px;
}

.nav_links a {
margin-top: 25px;
	padding-right: 25px;
	color: #4dbcea;
	font-size: 16px;
	font-weight: 100;
font-family: arial, 'lucida console', sans-serif;
}
.nav_links a:hover {
	text-align: center;
	color: #4dbcea;
	font-family: arial, 'lucida console', sans-serif;
	font-weight: 100;
}

td#leftcolumn, td#rightcolumn, td#centerCcolumn, td#centerBCcolumn, td#centerLcolumn,
td#centerBLcolumn, td#centerRcolumn, td#centerBRcolumn {
	font-size:9px;
	background-color: transparent;
	padding-right: 10px;
	padding-left: 10px;
	color: #fff;
}
td#leftcolumn div.blockTitle, td#rightcolumn div.blockTitle,
td#centerCcolumn div.blockTitle, td#centerBCcolumn div.blockTitle,
td#centerLcolumn div.blockTitle, td#centerBLcolumn div.blockTitle,
td#centerRcolumn div.blockTitle, td#centerBRcolumn div.blockTitle {
font-family: arial, 'lucida console', sans-serif;
	font-size: 1.5em;
	color: #4dbcea;
	text-align: left;
	padding-right: 2px;
	padding-top: 10px;
}
td#leftcolumn div.blockContent, td#rightcolumn div.blockContent, td#centerCcolumn div.blockContent,
td#centerBCcolumn div.blockContent, td#centerLcolumn div.blockContent, td#centerBLcolumn div.blockContent,
td#centerRcolumn div.blockContent, td#centerBRcolumn div.blockContent {
	color: #fff;
	font-size: 11px;
	font-size: 11px;
	text-align: left;
	padding:5px;
}

#footer {
	margin-top: 6px;
}

.odd {
font-size: 12px;
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 1px solid #0d0d0d;
}
.even{
font-size: 12px;
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 1px solid #0d0d0d;
}

tr.head td {
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 0px solid #0d0d0d;
font-size: 12px;
background-color: #0d0d0d;
}

.comText {
font-family: verdana, arial;
font-size: 13px;
}

.comUserStat {
font-family: verdana, arial;
font-size: 13px;
font-weight: 700;
}
.comUserRankText {
font-family: verdana, arial;
font-size: 14px;
font-weight: 700;
}
.xoopsCode {
overflow: auto;
border: 1px solid #151515;
margin: 5px;
padding: 5px;
}

.xoopsQuote {
overflow: auto;
border: 1px solid #151515;
margin: 5px;

}

td.head {
background-color: #0d0d0d;
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 1px solid #0d0d0d;
}

tr.even td {
font-size: 12px;
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 1px solid #0d0d0d;
}


tr.odd td {
font-size: 12px;
border-left: 1px solid #151515;
border-right: 1px solid #0d0d0d;
border-top: 1px solid #151515;
border-bottom: 1px solid #0d0d0d;
}

#mainmenu a:hover, #usermenu a:hover {
background-color: transparent;
display: block;
border-left: 3px solid #4dbcea;
padding-bottom: 3px;
padding-left: 0;
}

#usermenu a, #mainmenu a {
background-color: transparent;
display: block;
padding-bottom: 3px;
padding-left: 3px;
}
div.find {
padding-top: 35px;
}
.xbanner {
margin-top: 30px;
}