<link href="<{$xoops_themecss}>" rel="stylesheet" type="text/css" />
<table id="blocks" width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="35" height="34"><img src="<{$xoops_imageurl}>images/blocks_01.gif" alt="" width="35" height="34"></td>
<td width="100%" class="blockmidt"><div class="blockTitle"><{$block.title}></div></td>
<td width="43" height="34"><img src="<{$xoops_imageurl}>images/blocks_03.gif" alt="" width="43" height="34"></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="11" class="blockmidl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1"></td>
<td style="background-color: #105F96;">
<div class="blockContent"><{$block.content}></div>
</td>
<td width="11" class="blockmidr"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1" ></td>
</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="35" height="28"><img src="<{$xoops_imageurl}>images/blocks_07.gif" alt="" width="35" height="28"></td>
<td class="blockmidb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1"></td>
<td width="43"><img src="<{$xoops_imageurl}>images/blocks_09.gif" alt="" width="43" height="28"></td>
</tr>
</table>
</td>
</tr>
</table>