<link href="<{$xoops_themecss}>" rel="stylesheet" type="text/css" />
<table id="centerc" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="70" height="47"><img src="<{$xoops_imageurl}>images/news_01.gif" alt="" width="70" height="47"></td>
        <td width="100%" class="blockcent"><div align="center" class="cblockTitle"><{$block.title}></div></td>
        <td width="73" height="47"><img src="<{$xoops_imageurl}>images/news_03.gif" alt="" width="73" height="47"></td>
      </tr>
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="13" class="blockcentt"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1"></td>
          <td class="blockbak">
<div class="blockContent"><{$block.content}></div>
</td>
          <td width="14" class="blockcentl"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1"></td>
        </tr>
      </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="70" height="42"><img src="<{$xoops_imageurl}>images/news_07.gif" alt="" width="70" height="42"></td>
          <td class="blockcentb"><img src="<{$xoops_imageurl}>images/spacer.gif" alt="" width="1" height="1"></td>
          <td width="73"><img src="<{$xoops_imageurl}>images/news_09.gif" alt="" width="73" height="42"></td>
        </tr>
      </table>
  </td>
  </tr>
</table>