<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_11.jpg" width="20" height="21" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_12.jpg); background-repeat: repeat-x; width: 100%;" height="21">
		</td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_13.jpg" width="19" height="21" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_15.jpg" width="20" height="25" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_16.jpg); background-repeat: repeat-x; width: 100%;" height="25"><div class="blockTitle"><{$block.title}></div></td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_17.jpg" width="19" height="25" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_18.jpg" width="20" height="9" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_19.jpg); background-repeat: repeat-x; width: 100%;" height="9"></td>

		<td align="right">
			<img src="<{$xoops_imageurl}>images/perfectiondark_20.jpg" width="19" height="9" alt="" /></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_21.jpg); background-repeat: repeat-y; height: 100%;"><img src="<{$xoops_imageurl}>images/perfectiondark_21.jpg" width="20" height="16" alt="" /></td>
	<td>
<div class="blockContent1"><{$block.content}></div>
	</td>
		<td align="right" style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_23.jpg); background-repeat: repeat-y; height: 100%;" ></td>

	</tr>
	<tr>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_26.jpg" width="20" height="20" alt="" /></td>
		<td style="background-image: url(<{$xoops_imageurl}>images/perfectiondark_27.jpg); background-repeat: repeat-x; width: 100%;" height="20"></td>
		<td>
			<img src="<{$xoops_imageurl}>images/perfectiondark_28.jpg" width="19" height="20" alt="" /></td>
	</tr>
</table>